.navbar-light {
  border-bottom-color: black;
  border-bottom-style: solid;
}
.navbar-light .container .navbar-nav .nav-link {
  font-size: 20px;
  margin-right: 15px;
}

.card .card-img-overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 576px) {
  .container .card-title,
.container .card-text {
    font-size: 15px !important;
  }
}
@media (max-width: 364px) {
  .container .card-title,
.container .card-text {
    font-size: 30px !important;
  }
}

.filter-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card.product {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  box-shadow: 2px 2px 4px 4px rgba(140, 140, 141, 0.549);
}
.card.product .card-img-top {
  transition: all 0.3s;
  height: 250px;
}
.card.product .card-img-top:hover {
  transform: scale(0.8);
}
.card.product .card-body .card-text {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
.card.product .card-body .card-desc {
  height: 200px;
}

.productCard {
  margin-top: 50px !important;
  background: #eee;
  border-radius: 10px;
  padding: 40px;
  width: 100%;
}
.productCard img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  padding: 2px;
  border: 5px solid black;
}
.productCard .prodctCategory {
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: bold;
}
.productCard .productTitle {
  margin-top: 20px;
}
.productCard .productRating {
  margin-top: 20px;
}
.productCard .productRating span {
  font-weight: bold;
  font-size: 18px;
}
.productCard .productRating .fa-star {
  color: rgb(225, 225, 18);
  margin-left: 5px;
}
.productCard .productPrice {
  color: green;
}
.productCard .productDesc {
  line-height: 2;
  margin-bottom: 20px;
}

.cartItem img {
  width: 400px;
  height: 400px;
}
.cartItem .productBody {
  padding-top: 50px;
}
.cartItem .productBody .productQuantity {
  font-size: 18px;
}
.cartItem .productBody .productQuantity span {
  font-weight: bold;
}
.cartItem .productBody .productPrice {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.cartItem .productBody .productPrice span {
  color: green;
  font-weight: bold;
}

.About-us {
  padding: 40px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
}
.About-us h2 {
  position: relative;
  margin-bottom: 30px;
}
.About-us h2::after {
  content: "";
  top: 5px;
  border-bottom: 3px solid black;
  height: 40px;
  width: 120px;
  position: absolute;
  bottom: 0px;
  opacity: 0.5;
  left: calc(50% - 60px);
}

.Contact {
  padding: 40px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
}

.log-in {
  padding: 40px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 2000px) {
  body {
    zoom: 1.2;
  }
}
@media (min-width: 3000px) {
  body {
    zoom: 3;
  }
}/*# sourceMappingURL=App.css.map */