@mixin d_flex_center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}
@mixin wrapper {
  padding: 40px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
}
@mixin mediaMaxWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin mediaMinWidth($width) {
  @media (min-width: $width) {
    @content;
  }
}
